.OuterDiv{
    background:linear-gradient(256.47deg, #5E2AB3 2.64%, #161E6C 140.46%);

    display: flex;
    justify-content: center;
     align-items: center; 
}
.InnerDiv{
    /* background:linear-gradient(256.47deg, #5E2AB3 2.64%, #161E6C 140.46%); */
    width: 60%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}

.Select{
    width: 25%;
    margin-top: 30px;
    height: 30px;
    border-radius: 20px;
}

.Buttion{
    background-color: green;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    width: 25%;
    /* border: none; */
}

.Buttion:hover{
    scale: 1.05;
}

h3{
    padding: 15px;
    padding-top: 20px;
    margin-top: 10px;
}